body {
  margin: none;
}

.container-nav {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 10px;
}

.logo-name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #6070ff;
}

.navlog {
  size: 25px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: none;
}

.container {
  background-image: url(/img/background2.png);
  width: auto;
  height: auto;
  margin: none;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  align-items: center;
  margin: 26px;
  margin-top: 90px;
  margin-bottom: 10px;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #344563;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  word-spacing: 3px;
  color: #7f8cff;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.networks {
  text-decoration: none;
  margin: none;
  margin-bottom: 120px;
  color: #505f79;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;
}
