* {
  height: fit-content;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f9;
  width: 100%;
  height: auto;
}

/* Header-container */

.container-nav {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-top: 0.001px;
}

.logo-name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #6070ff;
  padding-left: 10px;
}

.navlog {
  size: 25px;
  display: flex;
  justify-content: flex-end;
  margin-right: 1px;
  margin-left: none;
}

.nav-desk {
  display: none;
  transform: translateX(200px);
}

/* Main-section */

.container-img {
  background-image: url(img/bgCoverM.svg);
  background-color: #fff;
  width: 100%;
  height: auto;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 28px;
  display: flex;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  align-items: center;
  margin: 26px;
  margin-top: 101px;
  margin-bottom: 10px;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #344563;
}

.connect {
  align-self: flex-start;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  word-spacing: 3px;
  color: #7f8cff;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.networks {
  align-self: flex-start;
  text-decoration: none;
  margin: none;
  margin-bottom: 120px;
  color: #505f79;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;
}

/* Page-development-section */

.page-development {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-size: auto;
  width: auto;
}

.works {
  align-items: center;
  background-color: #fff;
  width: 327px;
  height: 552px;
  margin-top: 80px;
  border: 1px #dfe1e6;
  border-radius: 16px;
}

.snapshoot {
  width: 295px;
  height: 220px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 8px;
}

.photo-one {
  display: none;
}

.photo-two {
  display: none;
}

.photo-three {
  display: none;
}

.photo-four {
  display: none;
}

.left-block {
  height: 288px;
  width: 295px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.primary-text-block {
  width: 295px;
  height: 80px;
  margin-bottom: 10px;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: bold;
  color: #172b4d;
  margin-top: 10px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.project-title-desktop {
  display: none;
}

.multipost-uno {
  height: 585px;
}

.frame-2 {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
}

.client {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  text-align: left;
  color: #344563;
  font-weight: 600;
  margin: 3px;
  margin-left: 7px;
}

.counter {
  size: 8px;
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  margin: 3px;
  margin-top: 8px;
  align-items: center;
}

.client-role {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  text-align: left;
  font-weight: 500;
  margin-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
}

.client-year {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  text-align: left;
  font-weight: 500;
  margin-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
}

.primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-left: 5px;
}

.multi {
  margin-top: 40px;
}

.tags-block {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  justify-content: flex-start;
  margin-right: 0;
}

.list-item {
  text-decoration: none;
  display: grid;
}

.btn-tags {
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
  border-radius: 12px;
  height: px;
}

.normal-b {
  border: 1px solid #396df2;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #fff;
  margin-top: 15px;
  margin-left: 5px;
  border-radius: 8px;
}

.normal-b:hover {
  box-shadow: #4053fc 24%;
  border-radius: 8px;
  background-color: #6070ff;
  color: #fff;
}

.normal-b:disabled {
  background-color: #e5e5e5;
  border-color: #c1c7d0;
  color: #5e6c84;
}

.normal-b:active {
  background-color: #2230d2;
  color: #fff;
}

/* About-myself-section */

.about-myself {
  background-image: url(img/BaseAboutMySelf.png);
  width: auto;
  height: 1150px;
  margin: none;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-about-myself {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  width: 100px;
  height: 101px;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  text-transform: capitalize;
}

.networks-about {
  text-decoration: none;
  margin: none;
  color: #505f79;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  padding-left: 35px;
  padding-bottom: 10px;
  gap: 20px;
}

.about-action {
  display: grid;
  transform: translate(20px, -20px);
  width: fit-content;
  margin-bottom: 20px;
}

.languages {
  width: 100%;
  height: auto;
  display: grid;
}

.languages-cont {
  display: grid;
  grid-template-columns: 88% 10%;
  width: 100%;
  height: auto;
}

.languages-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-left: 30px;
}

.fa-chevron-down {
  display: inline;
  color: #acb7c3;
}

.about-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: none;
  width: 90%;
}

.about-list-part-one {
  width: 100%;
  height: 67px;
  margin-top: 12px;
  margin-right: 12px;
  border-radius: 8px;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.language-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #253858;
  padding-top: 20px;
  padding-left: 25px;
}

.about-list-two {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.about-list-part-two {
  width: 100%;
  height: 72px;
  display: grid;
  grid-template-columns: 88% 10%;
}

.list-content {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  width: 125px;
  margin-top: 24px;
  margin-left: 12px;
}

.fa-chevron-right {
  color: #acb7c3;
  size: 20px;
  margin-top: 33px;
}

.list-line img {
  width: 100%;
  padding-right: 20px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 4420px;
  width: 100%;
  height: auto;
  margin: none;
  align-content: center;
  align-items: center;
}

.contact-me-div {
  background-image: url(img/background.svg);
  background-color: #6070ff;
  border-top-left-radius: 46px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-content {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-me-title {
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 180px;
  color: #fff;
}

.Contact-me-body {
  width: 100%;
  height: 108px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  top: 4110px;
  color: #ebebff;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 70px;
  height: auto;
}

#name {
  height: 35px;
  right: 38px;
  left: 16px;
  top: 20px;
  border: 1px #cfd8cf solid;
  border-radius: 8px;
}

#email {
  height: 35px;
  right: 38px;
  left: 16px;
  top: 50px;
  border: 1px #cfd8cf solid;
  border-radius: 8px;
}

#textarea {
  height: 170px;
  right: 38px;
  left: 16px;
  top: 5px;
  border: 1px #cfd8cf solid;
  border-radius: 8px;
}

#contact-me-action {
  margin-top: 15px;
  margin-bottom: 100px;
  width: 130px;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .container-nav {
    padding: 12px 0;
    grid-template-columns: 80% 20%;
  }

  .logo-name {
    font-size: 24px;
    align-self: flex-start;
  }

  .navlog {
    margin-right: 0;
  }

  .nav-desk {
    display: none;
    transform: none;
  }

  .container-img {
    height: auto;
    width: 100%;
    background-size: 100%;
    border-radius: 0;
  }

  .container-main {
    width: 80%;
    align-self: center;
    align-items: center;
    padding: 15px;
  }

  .title {
    font-size: 32px;
    margin-top: 80px;
  }

  .intro {
    font-size: 14px;
    margin: 16px;
    margin-left: 24px;
  }

  .connect {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .networks {
    margin-bottom: 80px;
    margin-left: 0;
  }

  .about-myself {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact-me-div {
    padding: 50px;
  }

  /* Page-development-section */
  .works {
    width: 70%;
    height: auto;
    margin-top: 152px;
    padding-bottom: 62px;
  }

  .left-block {
    height: auto;
    width: 80%;
    margin: 0;
    margin-left: 24px;
  }

  .primary-text-block {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .project-title {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .snapshoot {
    width: 90%;
    height: auto;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 0;
  }

  .frame-2 {
    display: flex;
  }

  .client {
    font-size: 12px;
  }

  .client-role {
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .client-year {
    font-size: 12px;
  }

  .primary-text {
    margin-top: 12px;
  }

  .tags-block {
    gap: 10px;
    justify-content: flex-start;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1059px) {
  .container-nav {
    grid-template-columns: 40% 20%;
    width: 100%;
    padding-top: 10px;
  }

  .logo-name {
    padding-left: 5%;
  }

  .navlog {
    display: none;
  }

  .nav-desk {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    width: 100%;
    padding-left: 15%;
    padding-top: 5px;
  }

  .page-parts {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #344563;
    text-transform: capitalize;
    align-self: flex-end;
  }

  /* main-section */

  .container-img {
    width: 100%;
    height: auto;
    background-color: #fff;
    background-image: url(img/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .container-main {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    align-self: center;
    margin-right: 0;
    padding-left: 18%;
    padding-top: 10%;
    padding-right: 10%;
  }

  .title {
    font-size: 42px;
    padding-right: 10%;
    margin-top: 20px;
  }

  .intro {
    line-height: 23px;
    font-size: 14px;
    margin-bottom: none;
    margin-right: 0;
  }

  .networks {
    margin-top: 3px;
    padding-left: 26px;
    padding-top: 2px;
    gap: 25px;
  }

  /* page-development section */

  .page-development {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin-top: 120px;
    border-radius: 24px;
    padding-bottom: 0;
  }

  .snapshoot {
    display: none;
  }

  .photo-one {
    display: flex;
    flex-direction: column;
    background-image: url(img/Snapshoot-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 24px;
    margin-top: 65px;
    width: 100%;
    height: 348px;
  }

  .photo-two {
    display: inline;
    background-image: url(img/photo-two.png);
    margin: 24px;
    margin-top: 1px;
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .photo-three {
    display: inline;
    background-image: url(img/Snapshoot\ Portfolio.png);
    margin: 12px;
    width: 50%;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .photo-four {
    display: flex;
    background-image: url(img/photo-four.png);
    margin: 24px;
    margin-top: 1px;
    width: 80%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .left-block {
    width: 50%;
    height: auto;
    align-self: center;
    margin-left: 1px;
    padding-left: 1px;
    padding-top: 45px;
  }

  .primary-text-block {
    width: 90%;
    height: 96px;
    margin-left: 24px;
    margin-bottom: 10px;
  }

  .project-title {
    display: none;
  }

  .project-title-desktop {
    display: inline;
    font-size: 40px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #172b4d;
    padding-right: 2%;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .frame-2 {
    width: 100%;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .client {
    font-size: 18px;
    margin-right: 9px;
  }

  .client-role {
    font-size: 16px;
    width: auto;
    font-weight: 400;
    margin: 1%;
  }

  .client-year {
    font-size: 16px;
    margin-right: 1px;
    font-weight: 400;
  }

  .counter {
    margin-top: 13px;
  }

  .primary-text {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .tags-block {
    width: 243px;
    height: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 287px;
    padding-left: 0;
  }

  .btn-tags {
    border-radius: 8px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .action {
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .multipost-uno {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    height: 450px;
    gap: 5px;
  }

  .multipost-uno .left-block {
    padding-left: 20px;
    margin-bottom: 20px;
    height: auto;
    gap: 10px;
  }

  .multipost-uno .frame-2 {
    font-size: 15px;
    height: 50px;
    margin-bottom: 100px;
  }

  .multipost-uno .frame-2 .client-role {
    font-size: 13px;
  }

  .multi-tags {
    display: grid;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-left: 24px;
    grid-template-columns: 30% 30% 35%;
    gap: 7px;
  }

  .multi-dos {
    display: flex;
    width: 90%;
    height: fit-content;
  }

  .multi-block {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 44px;
    height: fit-content;
    display: flex;
    gap: 5px;
  }

  .multi-block .frame-2 {
    margin-top: 12px;
  }

  .multi-block .tags-block {
    width: 50%;
    gap: 5px;
  }

  /* About myself section */

  .about-myself {
    display: grid;
    grid-template-columns: 45% 50%;
    width: 100%;
    height: 680px;
    padding: 0;
  }

  .left-block-about {
    width: 90%;
    height: auto;
    margin-right: 25px;
    padding-left: 15%;
    padding-top: 125px;
  }

  .title-about-myself {
    width: 100%;
    height: 114px;
    margin-top: 1px;
    margin-left: 1px;
    padding-right: 310px;
    font-size: 40px;
  }

  .intro-about {
    margin: 1px;
    font-size: 16px;
  }

  .connect-about {
    margin-left: 1px;
    margin-top: 24px;
  }

  .networks-about {
    margin-left: 1px;
    padding-left: 1px;
  }

  .about-action {
    transform: translateX(-10px);
    margin-left: 1px;
    padding-left: 1px;
  }

  .languages {
    width: 90%;
    height: 360px;
    margin-top: 142px;
    margin-left: 0;
  }

  .languages-cont {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 90%;
    height: 72px;
  }

  .languages-title {
    width: 100%;
    height: 24px;
    font-size: 20px;
  }

  .fa-chevron-down {
    display: inline;
    color: #acb7c3;
    size: 60px;
  }

  .about-list {
    width: 90%;
    height: 144px;
    flex-direction: row;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 20px;
  }

  .about-list-part-one {
    flex-direction: column;
    width: 122px;
    height: 120px;
    margin-top: 12px;
    margin-right: 12px;
  }

  .about-list-part-one img {
    width: 48px;
    height: 48px;
    margin: 12px;
    margin-right: 64px;
    margin-bottom: none;
  }

  .about-list-part-one p {
    margin-left: 12px;
    padding-left: 1px;
  }

  .about-list-two {
    width: 90%;
    height: 150px;
    padding-left: 0;
  }

  .about-list-part-two {
    width: 100%;
    height: 72px;
  }

  .list-content {
    width: 100%;
    height: 24px;
    margin: 24px;
    margin-right: 1px;
    font-size: 20px;
  }

  .fa-chevron-right {
    size: 60px;
    margin-top: 24px;
    margin-left: 10px;
  }

  .list-line img {
    width: 100%;
    height: 3px;
  }

  /* contac-me section */

  .contact-me {
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 50px;
    bottom: 1px;
    background-size: 95%;
    height: 500px;
  }

  .contact-me-div {
    width: 100%;
    height: auto;
  }

  .contact-me-content {
    width: 90%;
    margin-top: 200px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .Contact-me-title {
    width: 100%;
    height: 56px;
    align-items: center;
    margin: 1px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .Contact-me-body {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 28px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 30px;
  }

  .Contact-form {
    align-self: center;
    width: 60%;
    height: auto;
    gap: 12px;
    margin: 1px;
  }

  #contact-me-action {
    align-self: center;
  }
}

@media only screen and (min-width: 1060px) and (max-width: 1290px) {
  .container-nav {
    grid-template-columns: 40% 20%;
    width: 100%;
    padding-top: 10px;
  }

  .logo-name {
    padding-left: 140px;
  }

  .navlog {
    display: none;
  }

  .nav-desk {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    width: 100%;
    padding-left: 150px;
    padding-top: 5px;
  }

  .page-parts {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #344563;
    text-transform: capitalize;
  }

  /* main-section */

  .container-img {
    width: 100%;
    height: auto;
    background-color: #fff;
    background-image: url(img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
  }

  .container-main {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    align-self: center;
    margin: 0;
    padding-left: 18%;
    padding-top: 14%;
  }

  .title {
    font-size: 45px;
    padding-right: 35%;
    margin-top: 20px;
  }

  .intro {
    line-height: 23px;
    font-size: 17px;
    margin-bottom: none;
    margin-right: 0.0001px;
  }

  .networks {
    margin-top: 3px;
    padding-left: 26px;
    padding-top: 2px;
    gap: 25px;
  }

  /* page-development section */

  .page-development {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin-top: 120px;
    border-radius: 24px;
    padding-bottom: 0;
  }

  .snapshoot {
    display: none;
  }

  .photo-one {
    display: flex;
    flex-direction: column;
    background-image: url(img/Snapshoot-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 24px;
    margin-top: 65px;
    width: 90%;
    height: 360px;
  }

  .photo-two {
    display: inline;
    background-image: url(img/photo-two.png);
    margin: 24px;
    margin-top: 1px;
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .photo-three {
    display: inline;
    background-image: url(img/Snapshoot\ Portfolio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 24px;
    margin-top: 65px;
    width: 100%;
    height: 348px;
  }

  .photo-four {
    display: flex;
    background-image: url(img/photo-four.png);
    margin: 24px;
    margin-top: 1px;
    width: 80%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .left-block {
    width: 50%;
    height: auto;
    align-self: center;
    margin-left: 1px;
    padding-left: 1px;
    padding-top: 45px;
  }

  .primary-text-block {
    width: 90%;
    height: 96px;
    margin-left: 24px;
    margin-bottom: 10px;
  }

  .project-title {
    display: none;
  }

  .project-title-desktop {
    display: inline;
    font-size: 40px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #172b4d;
    padding-right: 20%;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .frame-2 {
    width: 100%;
    height: auto;
  }

  .client {
    font-size: 18px;
    margin-right: 9px;
  }

  .client-role {
    font-size: 16px;
    width: auto;
    font-weight: 400;
  }

  .client-year {
    font-size: 16px;
    margin-right: 1px;
    font-weight: 400;
  }

  .counter {
    margin-top: 13px;
  }

  .primary-text {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .tags-block {
    width: 243px;
    height: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 287px;
    padding-left: 0;
  }

  .btn-tags {
    border-radius: 8px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .action {
    margin-left: 24px;
    margin-bottom: 24px;
  }

  .multipost-uno {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;
  }

  .multipost-uno .left-block {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .multipost-uno .left-block .multi {
    margin-bottom: 5px;
  }

  .multi-tags {
    display: grid;
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-left: 24px;
    grid-template-columns: 30% 30% 35%;
    gap: 7px;
  }

  .multi-dos {
    display: flex;
    width: 80%;
    height: auto;
  }

  .multi-block {
    width: 50%;
    margin-top: 44px;
    margin-bottom: 44px;
    height: auto;
    display: flex;
    gap: 10px;
  }

  .multi-block .frame-2 {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  .multi-block .primary-text {
    margin-top: 30px;
  }

  .multi-block .tags-block {
    width: 50%;
    gap: 5px;
  }

  /* About myself section */

  .about-myself {
    display: grid;
    grid-template-columns: 45% 50%;
    width: 100%;
    margin-top: 150px;
    height: 680px;
    padding-left: 10%;
  }

  .left-block-about {
    width: 90%;
    height: 372px;
    margin-right: 25px;
    padding-left: 25px;
    padding-top: 125px;
  }

  .title-about-myself {
    width: 100%;
    height: 114px;
    margin-top: 1px;
    margin-left: 1px;
    padding-right: 310px;
    font-size: 40px;
  }

  .intro-about {
    margin: 1px;
    font-size: 16px;
  }

  .connect-about {
    margin-left: 1px;
    margin-top: 24px;
  }

  .networks-about {
    margin-left: 1px;
    padding-left: 1px;
  }

  .about-action {
    transform: translateX(-10px);
    margin-left: 1px;
    padding-left: 1px;
  }

  .languages {
    width: 100%;
    height: 360px;
    margin-top: 142px;
    margin-left: 0;
  }

  .languages-cont {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    height: 72px;
  }

  .languages-title {
    width: 100%;
    height: 24px;
    font-size: 20px;
  }

  .fa-chevron-down {
    display: inline;
    color: #acb7c3;
    size: 60px;
  }

  .about-list {
    width: 100%;
    height: 144px;
    flex-direction: row;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 20px;
  }

  .about-list-part-one {
    flex-direction: column;
    width: 122px;
    height: 120px;
    margin-top: 12px;
    margin-right: 12px;
  }

  .about-list-part-one img {
    width: 48px;
    height: 48px;
    margin: 12px;
    margin-right: 64px;
    margin-bottom: none;
  }

  .about-list-part-one p {
    margin-left: 12px;
    padding-left: 1px;
  }

  .about-list-two {
    width: 100%;
    height: 150px;
    padding-left: 0;
  }

  .about-list-part-two {
    width: 100%;
    height: 72px;
  }

  .list-content {
    width: 100%;
    height: 24px;
    margin: 24px;
    margin-right: 1px;
    font-size: 20px;
  }

  .fa-chevron-right {
    size: 60px;
    margin-top: 24px;
    margin-left: 10px;
  }

  .list-line img {
    width: 100%;
    height: 3px;
  }

  /* contac-me section */

  .contact-me {
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 50px;
    bottom: 1px;
    background-size: 95%;
    height: 500px;
  }

  .contact-me-div {
    width: 100%;
    height: auto;
  }

  .contact-me-content {
    width: 80%;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .Contact-me-title {
    width: 100%;
    height: 56px;
    align-items: center;
    margin: 1px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .Contact-me-body {
    width: 100%;
    height: 102px;
    font-size: 20px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  .Contact-form {
    align-self: center;
    width: 60%;
    height: auto;
    gap: 12px;
    margin: 1px;
  }

  #contact-me-action {
    align-self: center;
  }
}
